html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


	@font-face {
	font-family: 'League-Gothic';
	src: url('fonts/leaguegothic-regular-webfont.eot'),url('fonts/leaguegothic-regular-webfont.svg') format('svg'), url('fonts/leaguegothic-regular-webfont.woff') format('woff'), url('fonts/leaguegothic-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}

		
		.container {
			width:100%;
			margin:0 auto;
		}
		
		.header {
			width:100%;
			height:140px;
			border-bottom:1px solid #c5c5c5;
		}
		
		.title {
			text-align:left;
			padding:20px 10px;
			height:100px;
			float:left;
		}
		
		h1 {
			color:#333333;
			font-family:'League-Gothic',helvetica;
			font-size:112px;
			height:121px;
		}
		
		.print {
			width:119px;
			height:48px;
			float:right;
			padding:44px;
		}
		
		.print a {
			background:url('../images/print.jpg') 0 0 no-repeat;
			width:119px;
			height:50px;
			display:block;
		}
		
		.print a:hover {
			background-position:0 -48px;
		}

		
		.text {
			float:left;
			width:500px;
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-size: 17px;
			padding-left: 50px;
			letter-spacing: 0px;
		}
		
		.clear {
			clear:both;
		}