html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  overflow-y: scroll; }

.text a {
  color: #333333;
  text-decoration: underline; }

@font-face {
  font-family: 'League-Gothic';
  src: url("fonts/leaguegothic-regular-webfont.eot"), url("fonts/leaguegothic-regular-webfont.svg") format("svg"), url("fonts/leaguegothic-regular-webfont.woff") format("woff"), url("fonts/leaguegothic-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.container {
  width: 970px;
  margin: 0 auto; }

.header {
  margin: 140px 0 0 0; }

.header-active {
  margin: 20px 0 0 0 !important;
  transition: 1s;
  -webkit-transition: 1s; }

.title {
  width: 970px;
  border-bottom: 1px solid #c5c5c5;
  text-align: center; }

h1 {
  color: #333333;
  font-family: 'League-Gothic',helvetica;
  font-size: 125px;
  height: 121px; }

h2 {
  font-family: 'League-Gothic',helvetica;
  color: #D9D6D6;
  font-size: 34px;
  height: 60px;
  margin: 5px 0 0; }

.border {
  width: 970px;
  height: 1px;
  background: #ccc;
  margin-top: 4px; }

#first {
  width: 107px;
  height: 30px; }

ul.top-nav {
  text-align: center;
  margin-top: 29px; }

.top-nav li {
  list-style: none;
  display: inline;
  margin: 0 28px; }

.top-nav li a {
  font-size: 29px;
  color: #333333;
  font-family: 'League-Gothic',helvetica;
  text-decoration: none;
  outline: none; }

.content {
  margin-top: 24px; }

.content .about {
  display: none;
  position: absolute; }

.content .contact {
  display: none;
  padding: 0 0 0 20px; }

.links ul li {
  /* 			float:left; */
  height: 40px;
  list-style: none;
  text-align: center; }

.contact .links a {
  float: left;
  font-family: 'League-Gothic';
  font-size: 32px;
  color: #333333;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline; }

.get-in-touch {
  font-family: 'League-Gothic';
  font-size: 40px;
  font-weight: bold;
  color: #333333;
  border-bottom: 1px solid #D9D6D6; }

.links-container {
  float: left;
  margin: 0 100px 0 0; }

.links {
  margin: 13px 0 0 0; }

.contact-title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  float: left;
  padding: 2px 7px;
  background: #c5c5c5;
  margin-bottom: 7px; }

.text {
  float: left;
  width: 500px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 17px;
  padding: 0 20px 0 50px;
  letter-spacing: 0px; }

.about-image {
  background: url("../images/about2.jpg") 0 0 no-repeat;
  width: 400px;
  height: 407px;
  float: right; }

.clear {
  clear: both; }
